.spacer {
  flex: 1 1 auto;
}

.portfolio-btn {
  margin-left: 20px;
  border-color: rgba(255, 255, 255, 0.5);
  color: white;

  &:hover {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

main {
  padding-top: 20px;
}

@media (max-width: 600px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
  }
}
