@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$dark-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$dark-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$dark-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-themes($dark-theme);

  background-color: #303030;
  color: #e0e0e0;

  a {
    color: #82b1ff;
  }

  .coin-row:hover {
    background-color: #424242 !important;
  }

  .description-card p {
    color: #e0e0e0 !important;

    a {
      color: #82b1ff !important;
    }
  }

  .mat-mdc-card {
    color: #e0e0e0;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.coin-row:hover {
  background-color: #f5f5f5;
}

.dark-theme .coin-row:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
